:root {
    --light: #cbe3f0;
    --mid: #5D90B1;
    --dark: #2F4858;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--light);
}

/*.gradient {
    background-image: linear-gradient(to right bottom, var(--dark), var(--light));
}

.gradient2 {
    background: linear-gradient(70deg, var(--dark) 330px, var(--mid) 330px);
}*/

nav {
    background-color: indigo;
    display: flex;
    justify-content: space-between;
    width: 310px;
    position: sticky;
    padding: 30px;
}

.nav-links {
    font-weight: bold;
    margin-left: 14px;
    text-align: center;
    text-decoration: none;
    color: ivory;
}

/* Landing page */

#showcase {
    background-image: url(./Landing-page.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*.margin {
margin-right: auto;
margin-left: auto;
margin-top: 150px;
}

img {
    flot: left;
    max-height: 230px;
    border-radius: 30px 0px 0px 0px;
    box-shadow: -5px 5px 1px var(--dark);
}*/

section h1 {
    margin-right: 40%;
    font-size: 38px;
    text-align: right;
    color: rgb(183, 173, 190);
    background-color: indigo;
    padding: 10px;
    margin-top: 20%;
}

/*.left p {
    margin-left: 24px;
    font-size: 24px;
    margin-right: 30px;
}

.left {

    margin-top: 150px;
    margin-right: 30px;
    border-right: 3px solid var(--mid);
    height: 5000px;
}

main {
    display: block;
    justify-content: center;
}*/

.about {
    position: relative;
    height: 100vh;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutimage {

    padding: 0;
    border: 0;
    float: left;
    margin: 0px 10px 10px 0px;
    width: 21rem;
    box-shadow: -5px 5px 1px indigo;
}

#aboutheader {
    display: inline-flexbox;
    margin-left: 30px;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;
}

#abouttext {
    margin-left: 30px;
    background-color: ivory;
    padding: 30px;
}

#abouttextbox {

}

.projects {
    background-color: var(--mid);
}

#projectsheader {
    margin-top: 0;
    margin-right: 60%;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;
}

#firstproject {
    width: 49.4%;
    float: left;
}

#otherproject {
    max-width: 24.5%;
}

.image-grid {
    
}



