:root {
    --light: #cbe3f0;
    --mid: #5D90B1;
    --dark: #2F4858;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--light);
}

/*.gradient {
    background-image: linear-gradient(to right bottom, var(--dark), var(--light));
}

.gradient2 {
    background: linear-gradient(70deg, var(--dark) 330px, var(--mid) 330px);
}*/

nav {
    background-color: indigo;
    display: flex;
    justify-content: space-between;
    width: 310px;
    position: sticky;
    padding: 30px;
}

.nav-links {
    font-weight: bold;
    margin-left: 14px;
    text-align: center;
    text-decoration: none;
    color: ivory;
}

/* Landing page */

#showcase {
    background-image: url(./Landing-page.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section h1 {
    margin-right: 40%;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;
    margin-top: 20%;
}

.about {
    position: relative;
    height: 100vh;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutimage {
    padding: 0;
    border: 0;
    float: left;
    margin: 0px 10px 10px 0px;
    width: 21rem;
    box-shadow: -5px 5px 1px indigo;
}

#aboutheader {
    display: inline-flexbox;
    margin-left: 30px;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;
}

#abouttext {
    margin-left: 30px;
    background-color: ivory;
    padding: 30px;
}

#abouttextbox {

}

.projects {
    width: 100%;
    height: auto;

}

#projectsheader {
    margin-top: 0;
    margin-right: 60%;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;
}

#contactheader {
    display: inline-block;
    margin-left: 30px;
    font-size: 38px;
    text-align: right;
    color: ivory;
    background-color: indigo;
    padding: 10px;

}

#firstproject {
    
}

#otherproject {
    
}

.image-grid {
    padding: 10px;
    margin: 0px;
    float: left;
    color: indigo;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: 24.85%;
    position: relative;
}

.image-grid-1 {
    padding: 10px;
    margin: 0px;
    float: left;
    color: indigo;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: 50%;
    position: relative;
}

.image-header {
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
    background-color: ivory;
    padding: 10px;
    width: 40%;
  }

  #contact-link {
      padding: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
  }

  .contact-links {
    font-weight: bold;
    margin-left: 14px;
    text-align: center;
    text-decoration: none;
    color: indigo;

  }