:root {
    --bright: ivory;
    --light: #cbe3f0;
    --mid: #5D90B1;
    --dark: indigo;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--light);
}

/* Text styling */

h1 {
    margin-right: 40%;
    font-size: 38px;
    text-align: right;
    color: var(--bright);
    background-color: var(--dark);
    padding: 15px;
    width: fit-content;
}

/* Link styling */

a {
    font-weight: bold;
    margin-left: 14px;
    text-align: center;
    text-decoration: none;
    color: var(--mid);
}

a:visited {
    color: var(--mid);
    cursor: pointer;
}

a:hover {
    color: var(--bright);
    cursor: pointer;
}

a:active {
    color: var(--dark);
    cursor: pointer;
}

/*.gradient {
    background-image: linear-gradient(to right bottom, var(--dark), var(--light));
}

.gradient2 {
    background: linear-gradient(70deg, var(--dark) 330px, var(--mid) 330px);
}*/

/* Header */

nav {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    width: 310px;
    position: sticky;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
    }
}

/* Main section */

.showcase {
    background-image: url(./Landing-page.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#margin {
    margin-top: 20%;
    padding-left: 20%;
}

/* About section */

#about-link {
    min-height: 100vh;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin: 0 auto;
    width: 60%;
}

@media screen and (max-width: 800px) {
    .center {
        width: 100%;
        padding: 10%;
        margin: 0 auto;
    }
}

#aboutimage {
    float: left;
    width: 21rem;
    box-shadow: -5px 5px 1px var(--dark);
    margin: 0px 15px 15px 0px;
}

#abouttext {
    background-color: var(--bright);
    padding: 30px;
    width: 100%;
}

/* Projects section */

#projects-link {
    padding-right: 20px;
    height: 100vh;
    margin-top: auto;
    width: 100%;
}

.projects {
    width: 100%;
    height: auto;
}

#projectsheader {
    margin-top: 0;
    margin-right: 60%;
    padding-left: 15%;
    font-size: 38px;
    text-align: right;
    color: var(--bright);
    background-color: var(--dark);
    width: fit-content;
}

.image-grid-main {
    padding: 10px;
    margin: 0px;
    float: left;
    color: var(--dark);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    position: relative;
}

.image-grid {
    padding: 10px;
    float: left;
    color: var(--dark);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    position: relative;
}

.image-title {
    position: absolute;
    top: 19px;
    left: 39px;
    z-index: 1;
    background-color: var(--bright);
    padding: 10px;
    width: fit-content;
  }

@media screen and (max-width: 800px) {
    .image-grid-main {
        width: 100%;
        font-size: 14px
    }
}

@media screen and (max-width: 800px) {
    .image-grid {
        width: 50%;
        font-size: 14px
    }
}

/* Contact section */

#contactheader {
    display: inline;
    margin-left: 30px;
    font-size: 38px;
    text-align: right;
    color: var(--bright);
    background-color: var(--dark);
    padding: 10px;
}

  #contact-link {
      padding: 5%;
      clear: both;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .links {
    font-weight: bold;
    margin-left: 14px;
    text-align: center;
    text-decoration: none;
    color: var(--dark);
    line-height: 25px;
  }